/* body {
  background-image: url('../../assets/branding/supplylist-details-background-image.webp');
  background-size: cover;
  background-position: center;
} */

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 330px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container article, .container > section {
  width: 100%;
  padding: 21px;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.container p {
  /* text-indent: 21px; */
  text-align-last: left;
	/* word-break: break-all; */
}

.container header {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

/* .container h1 {
  margin: 0;
  margin-bottom: 7px;
} */

/* .container h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary);
} */

/* .container span {
  width: 100%;
  display: flex;
	margin-top: 10px;
  align-items: center;
} */



.container span button, .container span a {
  margin: 0;
  width: 20%;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  background: none;
  margin-left: 7px;
  border-radius: 5px;
  /* text-align: center; */
  /* border: 1px solid var(--border); */
  text-decoration: none;
}

.container span button, .container span a  {
  cursor: pointer;
}

.container > section article {
  padding: 0;
  width: 100%;
  min-height: 140px;
  border-radius: 5px;
  margin: 4px 0px 14px;
}

.container > section h1 {
  font-size: 21px;
}

/* .container > section article p {
  text-indent: 0px;
} */