.nav {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  padding: 14px 21px;
  align-items: center;
  background-color:  rgb(99, 124, 164);
}

.nav img {
  width: 50px;
}

.nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 1.2em;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

.nav li {
  text-align: center;
  margin: 0 24px;
}
.nav h2 {
  font-size: 1.4em;
  margin: 0 24px 0 42px;
}

.nav a {
  font-family: 'Montserrat', sans-serif;
  color: rgb(240, 210, 189);
  text-decoration: none;
}
.nav a:hover {
  color: rgb(87, 74, 226);
}

@media only screen and (max-width: 414px) {
  /* .nav ul {
    display: one;
    padding-left: 0px;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 275px;
    padding: 3.5rem;

  } */
  .nav li {
    font-size: 15px;
  }
}