.nav {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: flex-end;
  position: fixed; 
  padding: 14px 21px;
  align-items: center;
  background-color:  rgb(99, 124, 164);
}

.nav img {
  height: 65px;
  width: 85px;
  margin-bottom: 10%;
}

.nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: .75em;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
  padding: 0;
}

.nav li {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.nav h2 {
  font-size: 1.4em;
  margin: 0 24px 0 42px;
}

.nav a {
  font-family: 'Montserrat', sans-serif;
  color: rgb(240, 210, 189);
  text-decoration: none;
  font-size: 1.4em;
  text-align: center;
  padding: 0;
}

.nav a:hover {
  color: rgb(87, 74, 226);
}

@media only screen and (max-width: 414px) {

  .nav li {
    font-size: 15px;
  }
}