body {
  padding: 80px 0 0 0;
}

main {
  font-family:'Courier Prime', monospace;
  padding: 80px;
}

button {
  /* width: 12em;
  height: 2em; */
  font-family:'Courier Prime', monospace;
  font-weight: 600;
  font-size: 24px;
  align-content: center;
  border: none;
  /* background-color: rgb(110, 117, 124); */
}
