.birdCard {
  width: 100%;
  height: 340px;
  padding: 14px 21px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  text-decoration: none;
  background-image: url('../../assets/branding/AVI-notecard-no-logo.png');
  background-size: cover;
}

.birdCard header {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.birdCard img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.birdCard div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0px 5px 10px;
}

.birdCard h1 {
  margin: 0;
  font-size: 24px;
  font-weight:600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  color: black;
  padding: 0;
}

.birdCard a {
  text-decoration: none; 
}

.birdCard h1:hover {
  color: white;
}

.birdCard button {
  font-size: 1rem;
}
